body {
  background-color: #ddd;
  font-family: 'Ubuntu', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h2,
h5 {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1.5rem;
}

.cards-wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .cards-wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container__title {
  text-align: center;
  line-height: 1.5;
}

.card {
  width: 265px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.3rem 1.6rem;
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  transition: 0.3s;
}

@media screen and (min-width: 1200px) {
  .card:hover {
    cursor: pointer;
    border: solid 2px #98cb5c;
    scale: 1.05;
  }

  .card:hover .card__button {
    background-color: #98cb5c;
    border-color: #98cb5c;
  }
}

.card__title {
  text-align: center;
  font-size: 1rem;
}

.card__tax {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: flex-end;
}

.card__tax_currency {
  font-size: 1.3rem;
  font-weight: 600;
  color: #202d6a;
  line-height: 2.1;
}

.card__tax_price {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  font-size: 4.5rem;
  color: #202d6a;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.card__tax_period {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: #878484;
  font-weight: 500;
  line-height: 3;
}

.card__info_list {
  margin-top: 4.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}

.short {
  margin-top: 2rem;
}

.card__info_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #878484;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.card__info_item::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../checkmark-outline.svg);
  background-repeat: no-repeat;
  content: '';
  margin-right: 0.5rem;
}

.card__button {
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: solid 1px #202d6a;
  font-size: 0.8rem;
  background-color: #fff;
  transition: 0.3s;
}

.card__button_link {
  color: #00bcd4;
  font-weight: 500;
}

.card__ribbon_wrapp {
  width: 86px;
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: -2.9px;
  right: -4px;
}

.card__ribbon {
  font-size: 0.6rem;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  transform: rotate(45deg);
  position: relative;
  padding: 6px 0;
  left: -4px;
  top: 19px;
  width: 117px;
  background-color: #e53c3c;
  color: white;
  -webkit-box-shadow: 0px 0px 3px rgba(27, 25, 25, 0.35);
  -moz-box-shadow: 0px 0px 3px rgba(19, 18, 18, 0.35);
  box-shadow: 0px 0px 3px rgba(45, 43, 43, 0.39);
}

.card__ribbon:before,
.card__ribbon:after {
  content: '';
  border-top: 4px solid #a20a0a;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -4px;
}

.card__ribbon:before {
  left: 0;
}
.card__ribbon:after {
  right: 0;
}

.second-task {
  margin-top: 4rem;
  font-size: 1.2rem;
}
