p {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 1.2rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1.5rem;
}

.container__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.form__lable {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.table__button_up {
  height: 12px;
  background-image: url(../arrow-up.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: white;
  cursor: pointer;
}
.table__button_down {
  height: 12px;
  background-image: url(../arrow-down.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: white;
  cursor: pointer;
}

.table__button_up:active,
.table__button_down:active {
  scale: 0.8;
}

input {
  width: 70%;
  border: solid 2px #9d9d9d;
  border-radius: 5px;
  outline: none;
}

input:focus {
  font-size: 1rem;
  border: solid 2px rgb(187, 187, 232);
}

.button {
  cursor: pointer;
  font-size: 1rem;
  border: solid 2px #9d9d9d;
  border-radius: 5px;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(187, 187, 232);
}

.button:active {
  background-color: rgb(108, 108, 231);
}
